.RegisterCamp-container{
    font-size: large;
    background-image: url('../image/tt2.png');
     background-size: cover;
     background-color: #fff;
     padding: 5%;
     padding-left: 5%;
     padding-right: 55%;
     
}