.Register-container {

    font-size: large;
   background-image: url('../image/try4.webp');
    background-size: cover;
    background-color: #fff;
    padding: 2.29%;
    padding-left: 5%;
    padding-right: 55%;
    

}
